<%- include('partials/_header') %>

    <h1>Buscador</h1>
    <form id="searchForm" action="/search" method="POST">
        <input type="text" name="query" placeholder="Ingresa tu consulta">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        <% resultados.forEach((resultado)=> { %>
            <li>
                <%= resultado.apellidos %>
            </li>
            <% }); %>
    </ul>

    <!-- <script>
        // JavaScript para enviar el formulario mediante AJAX
        document.getElementById('searchForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const query = document.querySelector('input[name="query"]').value;
            fetch(`/search?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    // Redirige a la página de resultados
                    window.location.href = '/search-results';
                });
        });
    </script> -->
    <%- include('partials/_footer') %>